.user-data-row {
    position: relative;
    /* background-color: rgb(200, 200, 200); */
}

.user-empty-row {
    position: relative;
    height: 1.6rem;
}

.selected-row {
    background-color: #ccd5db;
}

.user-data-row::after , .user-empty-row::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    /* height: 1px; */
    border-top: 1px solid rgb(182, 182, 182);
}


.user-data-row td:nth-child(4) {
    text-transform: capitalize;
}

button, .edit-button, .delete-button {
    cursor: pointer;
}

.edit-button {
    filter: invert(55%) sepia(0%) saturate(0%) hue-rotate(237deg) brightness(91%) contrast(92%);
    margin-right: 6px;
}

.save-changes-btn {
    border-radius: 5px;
    border: none;
    background-color: rgb(30 127 198);
    color: white;
    padding: .45rem;
    font-size: .76rem;
}

.delete-button {
    filter: invert(13%) sepia(85%) saturate(7262%) hue-rotate(356deg) brightness(89%) contrast(130%);
}